.idea/vcs.xml
.idea/workspace.xml
RxjavaExample/.gitignore
RxjavaExample/.idea/.gitignore
RxjavaExample/.idea/compiler.xml
RxjavaExample/.idea/gradle.xml
RxjavaExample/.idea/jarRepositories.xml
RxjavaExample/.idea/misc.xml
RxjavaExample/.idea/vcs.xml
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
RxjavaExample/app/build
/captures
.externalNativeBuild
.cxx
local.properties
